<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>Sundown Studio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="fixed-image"></div>
    <div class="loader">
      <h1 id="l1">Edcutaion</h1>
      <h1 id="l2">For</h1>
      <h1 id="l3">Everyone</h1>
    </div>
    <div class="main">
      <div class="page1">
        <div class="navbar">
          <a href="/"><img src="/images/logo.svg" /></a>
          <div class="navButtons">
            <a href="/NGOs"><p>NGOs</p></a>
            <a href="/products"><p>Products</p></a>
            <a href="/school"><p>Schools</p></a>
            <a href="/log-in"><p><%=account%></p></a>
          </div>
        </div>
        <div class="intro">
          <div class="left">
            <div id="google_translate_element">
              <p data-scroll data-scroll-speed="2" id="left-text">
                We are rallying for providing underprivileged children with
                transformative learning experiences, empowering them with
                knowledge, skills, and inspiration to break barriers, realize
                their potential, and create a brighter future despite
                challenging circumstances.
              </p>
            </div>
            <!-- <p data-scroll data-scroll-speed="2" id="left-text">
              We are rallying for providing underprivileged children with
              transformative learning experiences, empowering them with
              knowledge, skills, and inspiration to break barriers, realize
              their potential, and create a brighter future despite challenging
              circumstances.
            </p> -->
          </div>
          <div class="right">
            <div data-scroll data-scroll-speed="2" class="extra-bold">
              <p>EDUCATION</p>
              <p>THAT</p>
              <p>INSPIRE</p>
            </div>
          </div>
        </div>
        <div class="orange-ball">
          <div class="small1"></div>
          <div class="small2"></div>
        </div>
        <video
          data-scroll
          data-scroll-speed="2"
          autoplay
          muted
          loop
          src="https://media.istockphoto.com/id/452650199/video/jolly-chinese-school-children-reading.mp4?s=mp4-640x640-is&k=20&c=lVaxm1eIyFAavPQd5aP9GCqYV3VjdLCxFPFasB5wUJo="
        ></video>
      </div>
      <div class="page2">
        <div class="marquee-div" data-scroll data-scroll-speed="2">
          <div class="inner">
            <div class="con">
              <h1>KNOWLEDGE</h1>
              <div class="orange-circle"></div>
              <h1>EDUCATION</h1>
              <div class="orange-circle"></div>
              <h1>FREEDOM</h1>
              <div class="orange-circle"></div>
            </div>
            <div class="con">
              <h1>KNOWLEDGE</h1>
              <div class="orange-circle"></div>
              <h1>EDUCATION</h1>
              <div class="orange-circle"></div>
              <h1>FREEDOM</h1>
              <div class="orange-circle"></div>
            </div>
          </div>
        </div>
        <div class="intro2" data-scroll data-scroll-speed="2">
          <div class="left2">
            <div class="foreground">
              <h1>
                We are a group of goal-driven, goal-focused creators, helpers,
                and workers who believe that the education make all the
                difference.
              </h1>
            </div>
            <div class="background">
              <div class="orange-ball2">
                <div class="small11"></div>
                <div class="small22"></div>
              </div>
            </div>
          </div>
          <div class="right2">
            <img
              src="https://i.pinimg.com/564x/f4/36/31/f4363103e69bc817cb4e36305b9ddf79.jpg"
              alt="nike-logo"
            />
            <p>
              We love to help, we love to solve, we love to collaborate, and we
              love to remove under-privileged word. We're here to partner with
              you through every step of the process and know that relationships
              are the most important things we build.
            </p>
          </div>
        </div>
      </div>
      <div class="page3">
        <div class="featured-projects">
          <div class="dot"></div>
          <h5>Featured NGOs</h5>
        </div>
        <div class="elem-con">
          <div
            class="elem"
            data-image="https://i.pinimg.com/564x/1a/54/5f/1a545f39dc5e2a91e794e6d7a94c984a.jpg"
          >
            <h2>Life Lab</h2>
            <!-- <div>
              <h4>Nike</h4>
              <p>Environment</p>
            </div> -->
          </div>
          <div
            class="elem"
            data-image="https://i.pinimg.com/564x/d9/c4/33/d9c433e5b4bf10aeb716c8ea8727a8da.jpg"
          >
            <h2>Educate Girls</h2>
            <!-- <div>
              <h4>NIKE</h4>
              <p>Experential</p>
            </div> -->
          </div>
          <div
            class="elem"
            data-image="https://i.pinimg.com/564x/54/ab/e9/54abe95991c5d00b673a6a67259afb16.jpg"
          >
            <h2>Saviour Foundation</h2>
            <!-- <div>
              <h4>AFTERPAY</h4>
              <p>Experential</p>
            </div> -->
          </div>
          <div
            class="elem"
            data-image="https://i.pinimg.com/564x/e8/9f/45/e89f4530773011189457d711ac124eb5.jpg"
          >
            <h2>eKal Abhiyan</h2>
            <!-- <div>
              <h4>NIKE</h4>
              <p>Environment</p>
            </div> -->
          </div>
          <div
            class="elem"
            data-image="https://i.pinimg.com/564x/42/64/65/4264654a8d2fbfded28e372239565397.jpg"
          >
            <h2>Child Help Foundation</h2>
            <!-- <div>
              <h4>ARC'TERYX</h4>
              <p>Environment</p>
            </div> -->
          </div>
          <!-- <div
            class="elem"
            data-image="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b16c5_Copy%20of%20Nike_Soho_AMD21_0781_LORES.webp"
          >
            <h2>Air Force 12021</h2>
            <div>
              <h4>NIKE</h4>
              <p>Environment</p>
            </div>
          </div>
          <div
            class="elem"
            data-image="https://player.vimeo.com/progressive_redirect/playback/822063732/rendition/1080p/file.mp4?loc=external&signature=79851f90dc501a79b69488c261bfb3c1db78d45a4eba6d058173e6f9576f6186"
          >
            <h2>SOHO 2023</h2>
            <div>
              <h4>CONVERSE</h4>
              <p>Environment</p>
            </div>
          </div> -->
        </div>
      </div>
      <div data-scroll-speed="3" data-scroll class="page4">
        <div class="showcase">
          <div class="left-names">
            <div class="heading">
              <div class="heading-2">
                <div class="selection-div">
                  <div class="selected" id="s1"></div>
                  <div class="selected" id="s2"></div>
                  <div class="selected" id="s3"></div>
                </div>
                <div>
                  <button id="design">Educate One</button>
                  <br />
                  <button id="project">Better Family</button>
                  <br />
                  <button id="exec">Better World</button>
                </div>
              </div>

              <p id="desc">
                Our team works with our clients to refine an idea and concept
                into an executable design. We create a final design that
                encompasses the brand narrative to bring stories to life and
                provide end-to-end design solutions from concept, design, and
                architectural drawings to 3D renderings.
              </p>
            </div>
          </div>
          <div class="right-pics"></div>
        </div>
      </div>
      <div class="page5">
        <div class="pg5-heading">
          <div class="orange-dot"></div>
          <h4>Who we work with</h4>
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15ff_Nike.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1600_Converse.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fd_Arc%E2%80%99teryx.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fe_Hunter.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1601_MediaLink.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
            <div class="swiper-slide">
              <!-- <img
                src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1602_AfterPay.svg"
                alt=""
              /> -->
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,es,fr,hi,ur,ma",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: false,
          },
          "google_translate_element"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
