<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>Sundown Studio</title>
    <link rel="stylesheet" href="/stylesheets/styleProducts.css" />
  </head>
  <body>
    <div class="main">
        <div class="page1">
            <div class="navbar">
                <a href="/"><img src="/images/logo.svg" /></a>
                <div class="navButtons">
                    <a><p>NGOs</p></a>
                    <a><p>Products</p></a>
                    <a><p>Contact</p></a>
                    <a href="/log-in"><p><%=account%></p></a>
                </div>
            </div>

            <div class="intro">
                <div class="lines">
                    <p>PRODUCTS</p>
                </div>
                <div class="types">
                    <div class="all">
                        <a herf="#">All</a>
                    </div>

                    <div class="courses">
                        <a herf="#">Courses</a>
                    </div>

                    <div class="books">
                        <a herf="#">Books</a>
                    </div>
                </div>
            </div>

            <div class="background">
                <div class="orange-ball2">
                    <div class="small11"></div>
                    <div class="small22"></div>
                </div>
            </div>

            <!-- <div class="background">
                <div class="orange-ball2">
                  <div class="small11"></div>
                  <div class="small22"></div>
                </div>
              </div> -->

            <div class="heroSection">
                <div class="box1 img_a">
                    <h4><span style = "background-color:white">HC Verma Part-1</span></h4>
                </div>

                <div class="box2 img_b">
                    <h4><span style = "background-color:white">Python Course</span></h4>
                </div>

                <div class="box1 img_c">
                    <h4><span style = "background-color:white">Class 10th English <br> NCERT</span></h4>    
                </div>
            </div>

            <div class="heroSection">
                <div class="box2 img_d">
                    <h4><span style = "background-color:white">RS Aggarwal <br>Class 6</span></h4>    
                </div>

                <div class="box1 img_e">
                    <h4><span style = "background-color:white">HC Verma Part-2</span></h4>    
                </div>
                
                <div class="box2 img_f">  
                    <h4><span style = "background-color:white">Class 10th Civics NCERT</span></h4>                        
                </div>
            </div>

            <div class="heroSection">
                <div class="box1 img_g">
                    <h4><span style = "background-color:white">Class 11th History NCERT</span></h4>    
                </div>

                <div class="box2 img_h">
                    <h4><span style = "background-color:white">JEE Mains Crash Course</span></h4>    
                </div>
                
                <div class="box1 img_i">
                    <h4><span style = "background-color:white">Class 9th Science NCERT</span></h4>                            
                </div>
            </div>

            <div class="heroSection">
                <div class="box2 img_j">
                    <h4><span style = "background-color:white">NEET Crash Course</span></h4>    
                </div>

                <div class="box1 img_k">
                    <h4><span style = "background-color:white;">Class 7th Hindi <br> NCERT</span></h4>    
                </div>
                
                <div class="box2 img_l">
                    <h4><span style = "background-color:white">MS Excel Online Course</span></h4>                            
                </div>
            </div>
        </div>
    </div>
</body>
</html>
