<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <a href="/"><img src="/images/logo.svg" /></a>
        <div class="navButtons">
          <a><p>NGOs</p></a>
          <a><p>Products</p></a>
          <a><p>Contact</p></a>
          <a href="/log-in"><p><%=account%></p></a>
        </div>
      </div>
      <div class="heading">
        <h1>Join Our Dream</h1>
      </div>
    </div>
  </body>
</html>
