@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Dela+Gothic+One&family=Inter:wght@500&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Mooli&family=Oswald:wght@500&family=Poppins:ital,wght@0,600;1,300&family=Rubik&display=swap');
body,html {
    min-height: 100vh;
    width:100%;
    background: #EFEAE3;
    font-family: 'Montserrat';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    /* letter-spacing: 0.8px; */
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.navbar{
    width:100%;
    height:8vw;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.navbar a{
    padding: 0;
    height: 100%;
    width: 20%;
  }

  .navbar img{
    height:100%;
    width:50%
  }
.navButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 40%;
}
.navButtons a::after{
    content : "";
    height : 100%;
    position: absolute;
    width:100%;
    background-color: #000;
    right:0;
    bottom:-100%;
    border-radius: 50%;
    transition: ease-in-out 0.4s;
}
.navButtons a:hover::after{
   bottom:0;
    border-radius: 30px;
}
.navButtons a:hover{
    color: white;
}
.navButtons p{
    text-align: center;
    position: relative;
    z-index: 9;
}

.navButtons>a{
    padding: 15px;
    border-radius: 30px;
    border: 2px solid rgba(88, 88, 88, 0.333);
    margin-right: 10px;
    background-color: transparent;
    font-size: larger;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color : black;
    transition: ease-in-out .4s;
  }
  .heading{
    padding: 5vw;
    height: 20vh;
    width: 60vw;
    font-size: 2vw;
  }
  .page1{
    padding: 5vw;
    margin-top: 4vw;
  }
  .label{
    font-weight: bolder;
    font-size: 3vw;
    text-align: left;
  }

form{
  /* background-color: aqua; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    gap:2vw;
    background-color: azure;
    box-shadow: rgba(196, 102, 26, 0.25) 0px 54px 55px, rgba(216, 91, 7, 0.12) 0px -12px 30px, rgba(246, 133, 40, 0.12) 0px 4px 6px, rgba(210, 119, 15, 0.17) 0px 12px 13px, rgba(226, 55, 8, 0.09) 0px -3px 5px;
    text-align: left;
    border :2px solid rgba(91, 91, 91, 0.555);
    border-radius:30px;
}
form div{
  /* background-color: brown; */
    height: 10vh;
    width: 60%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* gap:10vw; */
}
  .input{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 5px;
  }
  .input:active{
    border:none
  }

/* .submit{
  margin-top: 2vw;
} */
.submit{
  padding-top: 2vw;
  justify-content: center;
}
.submit>button{
  background-color: transparent;
  border-radius: 30px;
  padding: 1.5vw;
  border : 2px solid rgba(85, 85, 85, 0.639);
  font-size: x-large;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.submit>button::after{
  content: "";
  height:100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  left:0;
  background-color: #000000;
  border-radius: 50%;
  transition: all ease-in-out 0.5s;
}
.submit>button:hover::after{
  bottom:0;
  border-radius: 30px;
}
.submit>button>p{
  position: relative;
  z-index: 9;
  transition: all ease-in-out 0.5s;
}
.submit>button:hover p{
  color: white;
}